
:root {
  --wa-color-brand: #3e397c;
  --wa-color-brand-05: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-text-normal) 90%);
  --wa-color-brand-10: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-text-normal) 80%);
  --wa-color-brand-20: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-text-normal) 60%);
  --wa-color-brand-30: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-text-normal) 40%);
  --wa-color-brand-40: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-text-normal) 20%);
  --wa-color-brand-50: var(--wa-color-brand);
  --wa-color-brand-60: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-surface-default) 20%);
  --wa-color-brand-70: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-surface-default) 40%);
  --wa-color-brand-80: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-surface-default) 60%);
  --wa-color-brand-90: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-surface-default) 80%);
  --wa-color-brand-95: color-mix(in oklab, var(--wa-color-brand), var(--wa-color-surface-default) 90%);

  --wa-font-size-xs: round(calc(var(--wa-font-size-s) / 1.125), 1px)
}

::selection, ::part(input)::selection {
  background: color-mix(in oklab, var(--wa-color-brand), transparent 40%);
}

.container {
  max-width: 1100px;
  padding: 1.5rem;
  margin: auto
}

@layer wa-utilities {
  .wa-gap-x-0 { column-gap: 0px; }
  .wa-gap-y-0 { row-gap: 0px; }
  .wa-gap-x-3xs { column-gap: var(--wa-space-3xs); }
  .wa-gap-y-3xs { row-gap: var(--wa-space-3xs); }
  .wa-gap-x-2xs { column-gap: var(--wa-space-2xs); }
  .wa-gap-y-2xs { row-gap: var(--wa-space-2xs); }
  .wa-gap-x-xs { column-gap: var(--wa-space-xs); }
  .wa-gap-y-xs { row-gap: var(--wa-space-xs); }
  .wa-gap-x-s { column-gap: var(--wa-space-s); }
  .wa-gap-y-s { row-gap: var(--wa-space-s); }
  .wa-gap-x-m { column-gap: var(--wa-space-m); }
  .wa-gap-y-m { row-gap: var(--wa-space-m); }
  .wa-gap-x-l { column-gap: var(--wa-space-l); }
  .wa-gap-y-l { row-gap: var(--wa-space-l); }
  .wa-gap-x-xl { column-gap: var(--wa-space-xl); }
  .wa-gap-y-xl { row-gap: var(--wa-space-xl); }
  .wa-gap-x-2xl { column-gap: var(--wa-space-2xl); }
  .wa-gap-y-2xl { row-gap: var(--wa-space-2xl); }
  .wa-gap-x-3xl { column-gap: var(--wa-space-3xl); }
  .wa-gap-y-3xl { row-gap: var(--wa-space-3xl); }
  .wa-gap-x-4xl { column-gap: var(--wa-space-4xl); }
  .wa-gap-y-4xl { row-gap: var(--wa-space-4xl); }
}

wa-callout[appearance="filled-outlined"]::part(message) {
  color: var(--wa-color-on-normal);
}

wa-carousel-item wa-card {
  max-width: 100%;
}

@media (max-width: 600px) {
  wa-carousel::part(navigation) {
    transform: translateY(30%);
    display: flex;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    justify-content: space-between;
    pointer-events: none;
  }
  wa-carousel::part(navigation-button) {
    pointer-events: all;
  }
}

wa-card h3[slot="header"] {
  margin: 0;
}

wa-button::part(base) {
  max-width: 100%;
  min-height: var(--wa-form-control-height);
  height: fit-content;
}

wa-button::part(label) {
  white-space: normal;
}

wa-button[size="extra-small"] {
  font-size: var(--wa-font-size-xs);
}

wa-dropdown-item[slot="submenu"]::part(label) {
  text-overflow: clip;
  white-space: normal;
  hyphens: manual;
}

wa-badge.badge-colored {
  --wa-color-on-normal: color-mix(in oklab, var(--badge-color), var(--wa-color-text-normal) 40%);
  --wa-color-fill-normal: color-mix(in oklab, var(--badge-color), var(--wa-color-surface-default) 80%);
  --wa-color-fill-loud: var(--badge-color);
  --wa-color-border-normal: color-mix(in oklab, var(--badge-color), var(--wa-color-surface-default) 60%);
}

wa-dropdown-item.dropdown-item-colored {
  color: color-mix(in oklab, var(--dropdown-item-color), var(--wa-color-text-normal) 40%);
}

wa-dropdown-item.dropdown-item-colored:hover, wa-dropdown-item.dropdown-item-colored:focus-visible {
  background-color: color-mix(in oklab, var(--dropdown-item-color), var(--wa-color-surface-default) 80%);
}

.university-tum { --badge-color: #3070b3; --dropdown-item-color: #3070b3; }
.university-lmu { --badge-color: #00883a; --dropdown-item-color: #00883a; }
.university-unibw { --badge-color: #ed6600; --dropdown-item-color: #ed6600; }

.study-field-science { --badge-color: #ff0083; --dropdown-item-color: #ff0083; }
.study-field-humanities { --badge-color: #00c3ff; --dropdown-item-color: #00c3ff; }
