:root {
  --wa-color-brand: #3e397c;
  --wa-color-brand-05: color-mix(in oklab, var(--wa-color-brand), black 67.5%);
  --wa-color-brand-10: color-mix(in oklab, var(--wa-color-brand), black 60%);
  --wa-color-brand-20: color-mix(in oklab, var(--wa-color-brand), black 45%);
  --wa-color-brand-30: color-mix(in oklab, var(--wa-color-brand), black 30%);
  --wa-color-brand-40: color-mix(in oklab, var(--wa-color-brand), black 15%);
  --wa-color-brand-50: var(--wa-color-brand);
  --wa-color-brand-60: color-mix(in oklab, var(--wa-color-brand), white 20%);
  --wa-color-brand-70: color-mix(in oklab, var(--wa-color-brand), white 40%);
  --wa-color-brand-80: color-mix(in oklab, var(--wa-color-brand), white 60%);
  --wa-color-brand-90: color-mix(in oklab, var(--wa-color-brand), white 80%);
  --wa-color-brand-95: color-mix(in oklab, var(--wa-color-brand), white 90%);

  --wa-font-size-xs: round(calc(var(--wa-font-size-s) / 1.125), 1px)
}

::selection, ::part(input)::selection {
  background: color-mix(in oklab, var(--theme-color, var(--wa-color-brand)), transparent 50%);
}

.container {
  max-width: 1100px;
  padding: 1.5rem;
  margin: auto
}

@layer wa-utilities {
  .wa-gap-x-0 { column-gap: 0px; }
  .wa-gap-y-0 { row-gap: 0px; }
  .wa-gap-x-3xs { column-gap: var(--wa-space-3xs); }
  .wa-gap-y-3xs { row-gap: var(--wa-space-3xs); }
  .wa-gap-x-2xs { column-gap: var(--wa-space-2xs); }
  .wa-gap-y-2xs { row-gap: var(--wa-space-2xs); }
  .wa-gap-x-xs { column-gap: var(--wa-space-xs); }
  .wa-gap-y-xs { row-gap: var(--wa-space-xs); }
  .wa-gap-x-s { column-gap: var(--wa-space-s); }
  .wa-gap-y-s { row-gap: var(--wa-space-s); }
  .wa-gap-x-m { column-gap: var(--wa-space-m); }
  .wa-gap-y-m { row-gap: var(--wa-space-m); }
  .wa-gap-x-l { column-gap: var(--wa-space-l); }
  .wa-gap-y-l { row-gap: var(--wa-space-l); }
  .wa-gap-x-xl { column-gap: var(--wa-space-xl); }
  .wa-gap-y-xl { row-gap: var(--wa-space-xl); }
  .wa-gap-x-2xl { column-gap: var(--wa-space-2xl); }
  .wa-gap-y-2xl { row-gap: var(--wa-space-2xl); }
  .wa-gap-x-3xl { column-gap: var(--wa-space-3xl); }
  .wa-gap-y-3xl { row-gap: var(--wa-space-3xl); }
  .wa-gap-x-4xl { column-gap: var(--wa-space-4xl); }
  .wa-gap-y-4xl { row-gap: var(--wa-space-4xl); }
}

.wa-text-success {
  color: var(--wa-color-success);
}

.wa-text-warning {
  color: var(--wa-color-warning);
}

.wa-text-danger {
  color: var(--wa-color-danger);
}

wa-callout[size="small"] {
  padding: 0.75em;
}

wa-carousel-item wa-card {
  max-width: 100%;
}

@media (max-width: 600px) {
  wa-carousel::part(navigation) {
    transform: translateY(30%);
    display: flex;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    justify-content: space-between;
    pointer-events: none;
  }
  wa-carousel::part(navigation-button) {
    pointer-events: all;
  }
}

wa-card h3[slot="header"] {
  margin: 0;
}

wa-button::part(base) {
  max-width: 100%;
  min-height: var(--wa-form-control-height);
  height: fit-content;
}

wa-button::part(label) {
  white-space: normal;
}

wa-button[size="extra-small"] {
  font-size: var(--wa-font-size-xs);
}

wa-dropdown-item[slot="submenu"]::part(label) {
  text-overflow: clip;
  white-space: normal;
  hyphens: manual;
}

a {
  text-decoration-style: solid;
  text-decoration-color: currentColor;
}

a:hover {
  text-decoration: none;
}

a wa-icon {
  margin-right: 0.25rem;
}

[theme="black"] {
  --theme-color: #2f323f;
  --wa-color-on-loud: white;
}
[theme="abroad"] { --theme-color: #b42eff; }
[theme="lmu"] { --theme-color: #00914c; }
[theme="tum"] { --theme-color: #3070b3; }
[theme="unibw"] { --theme-color: #ed6600; }

[theme] {
  --wa-color-fill-loud: var(--theme-color);
  --wa-color-fill-normal: color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 80%);
  --wa-color-fill-quiet: color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 85%);
  --wa-color-border-loud: color-mix(in oklab, var(--wa-theme-color), var(--wa-color-surface-default) 20%);
  --wa-color-border-normal: color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 60%);
  --wa-color-border-quiet: color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 75%);
  --wa-color-on-normal: color-mix(in oklab, var(--theme-color), var(--wa-color-text-normal) 40%);
  --wa-color-on-quiet: color-mix(in oklab, var(--theme-color), var(--wa-color-text-normal) 15%);

  --wa-form-control-activated-color: var(--theme-color);
}

a[theme] {
  color: var(--theme-color)
}

:is(h1, h2, h3, h4, h5, h6, b, span)[theme] {
  color: var(--theme-color)
}

wa-details[theme]::part(base) {
  border-color: color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 60%) !important;
}

wa-details[theme]:not([open])::part(base) {
  border-bottom-width: 0;
}

wa-details[theme]::part(header) {
  border: 0 color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 60%) solid;
  border-bottom-width: var(--wa-panel-border-width);
  background-color: color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 80%);
  transition: border-radius 0.3s;
}

wa-details[theme]::part(icon) {
  color: color-mix(in oklab, var(--theme-color), var(--wa-color-text-normal) 40%);
}

wa-dropdown-item[theme] {
  color: color-mix(in oklab, var(--theme-color), var(--wa-color-text-normal) 40%);
}

wa-dropdown-item[theme]:hover, wa-dropdown-item[theme]:focus-visible {
  background-color: color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 80%);
}

wa-tab-group[theme] {
  --indicator-color: var(--theme-color);
}

wa-tab-group[theme] wa-tab[active] {
  color: var(--theme-color)
}

table[theme] {
  --wa-color-border-quiet: color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 60%);
}

table[theme] th {
  background-color: color-mix(in oklab, var(--theme-color), var(--wa-color-surface-default) 80%);
}

table[theme] th:first-child {
  border-top-left-radius: var(--wa-border-radius-m);
}

table[theme] th:last-child {
  border-top-right-radius: var(--wa-border-radius-m);
}
