[theme="university-tum"] { --theme-color: #3070b3; }
[theme="university-lmu"] { --theme-color: #00883a; }
[theme="university-unibw"] { --theme-color: #ed6600; }
[theme="study-field-science"] { --theme-color: #ff0083; }
[theme="study-field-humanities"] { --theme-color: #00c3ff; }
