main {
  padding: 0 !important;
  margin: 0 !important;
  max-width: none !important;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  background: linear-gradient(#dfcdb5, #e0d1be);
}

.main-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  margin-top: 4dvw;
}

.main-img {
  border-radius: 0;
  width: 100dvw;
}

.section-button {
  position: absolute;
  width: fit-content;
  font-size: calc(1dvw + 1dvh);
  top: calc(50% + 16dvw);
  translate: -50% 0;
}

.section-button span {
  white-space: nowrap;
}

.section-button-early-studies {
  left: 22dvw;
}

.section-button-abroad {
  left: 78dvw;
}
